@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}
html {
  font-size: 100%;
}
body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 85%;
  }
  .App {
    width: 90vw;
  }
  .menu_wrapper {
    flex-direction: row;
  }
  .ControlMenu {
    margin-bottom: 8px;
  }
  .DiaryItem {
    flex-wrap: wrap;
  }
}

#root {
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */

.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  font-size: 100%;
}

.MyButton_default {
  background-color: #ececec76;
  color: black;
}

.MyButton_positive {
  background-color: #62c964;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

/* Start */
.Start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Start img {
  width: 40%;
}

.Start p {
  color: #7b7b7b;
}

.start_button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 10px;
  width: 200px;
  height: 60px;
  font-size: 16px;
  transition: all 0.3s;
}

.start_button:hover {
  background-color: #ececec75;
  color: black;
}

/* DiaryList */

.DiaryList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 10px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #ececec75;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 100%;
}

.DiaryList .new_button {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-right: 10px;
  width: 200px;
  height: 50px;
  font-size: 100%;
  transition: all 0.3s;
}

.new_button:hover {
  background-color: #ececec75;
  color: black;
}

/* DiaryItem */
.DiaryItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 20%;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 30px;
  cursor: pointer;
}

.DiaryItem .diary_date {
  font-weight: bolder;
}

.DiaryItem .btn_wrapper {
  min-width: 70px;
}

/* DiaryEditor */

.DiaryEditor section {
  margin-bottom: 40px;
}

.DiaryEditor h4 {
  font-size: 110%;
  font-weight: bold;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec75;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 18px;
}

.DiaryEditor .input_box {
  padding-top: 30px;
}

.emotion_list_wrapper {
  display: flex;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
  resize: none;
  border: none;
  border-radius: 5px;
  background-color: #ececec75;
  padding: 20px;
}

.control_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* EmotionItem */

.EmotionItem {
  cursor: pointer;
  border-radius: 5px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}

.EmotionItem span {
  font-size: 100%;
}

.EmotionItem_on_1,
.EmotionItem_on_2,
.EmotionItem_on_3,
.EmotionItem_on_4,
.EmotionItem_on_5 {
  background-color: #ececec75;
}

/* Diary */
.DiaryPage section {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.DiaryPage h4 {
  font-weight: bold;
  font-size: 18px;
}

.DiaryPage-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.DiaryPage-message p {
  color: #cccccc;
  cursor: pointer;
}

.DiaryPage .diary_img_wrapper img {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.DiaryPage .diary_content_wrapper {
  width: 100%;
  background-color: #ececec75;
  border-radius: 5px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.DiaryPage .diary_content_wrapper p {
  padding: 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}
